// Sidenav =================================================================

#sidenav-overlay {
  position: absolute;
  left: 0;
  top: -65px;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1036;
  will-change: opacity;
}

.drag-target {
  height: 100%;
  width: 10px;
  position: fixed;
  top: 0;
  z-index: 998;
}

aside.sidebar {
  left: 0;
  position: fixed;
  width: $sidenav-width;
  top: 0;
  margin: 0;
  height: 100%;
  padding-bottom: 60px;
  z-index: 1037;
  will-change: left;
  font-size:13px;
  overflow: auto;
  background-color:rgb(71,20,113);

  font-family: 'Roboto-Bold';
  font-size: 18px;


  > ul {
    margin-top:50px;
  }

  a.collapsible-header {
    font-weight:600;
  }

  a.collapsible-header:after {
    content: "\f29e";
    display: inline-block;
    font: normal normal normal 14px/1 'Material Design Iconic Font';
    font-size: inherit;
    speak: none;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;

    position: absolute;
    right: 20px;
    top: 16px;
    font-size: 22px;

    @include transition(transform 0.3s ease-in-out);
    @extend .theme-text-lighten-1 !optional;
  }
  a.collapsible-header.active:after {
    @include rotate(180deg);
  }

  a.collapsible-header.active {
    background: rgba(0, 0, 0, 0.05);
  }

  i {
    font-size: 20px;
    line-height: 23px;
    margin-right: 5px;
    color: #BEBEBE;
  }

  ul a {
    margin: 0;
    padding: 15px 0 15px 22px;

    color: #737373;

    display:block;
    position:relative;

    &:hover, &.active {
      background: rgba(0, 0, 0, 0.1);
    }
  }

  ul {
    list-style-type: none;
    margin:0px;
    padding:0px;
  }

  ul ul a {
    padding: 8px 15px 8px 46px;
  }

  .user-logged-in {
    min-height:64px;
    position:relative;
    display: table;
    width: 100%;
    background-color: #fff;
    overflow:hidden;

    .content {
      display: table-cell;
      vertical-align: middle;
      padding:0 22px;

      img {
        width: 200px;
      }
    }
  }

}

@media only screen and (max-width: 992px) {
  main, footer {
    padding-left: 0;
  }

  aside.sidebar {
    left: -105%;
  }
}
